/* google fonts */
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

/* margiin share  */
.margin-fixed {
    margin: 50px 140px 120px 140px;
}

.btn-primary {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FF0000;
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
}

/* margin end  */


.new-year-image {
    filter: brightness(80%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-year-taitle {
    font-size: 32px;
}

.party-selibration {
    font-size: 72px;
    font-weight: bold;
}

/* Categories style  */
.categories {
    text-align: center;
    margin-top: 100px;
}

.categories-title {
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 30px;
}

.categories-sub-title {
    color: #FF0000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
}

.all-taitle {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    margin-top: 15px;
}

/* welcome section start */
.display-flex {
    display: flex;
}

.welcome {
    position: relative;
    text-align: start;
    color: white;
}

.welcome-conteinar {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.year-img {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.welcome-title {
    font-size: 64px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}

.welcome-drescription {
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}

/* place section start  */
.place-section {
    background-color: #FDEDEC;
    padding: 100px 0 100px 0;
    border-radius: 10px;
}

.place {
    text-align: center;
}

.place-adres {
    color: #FF0000;
}

.place-btn {
    margin-top: 24px;
}

/* place section end  */
.coming-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.coming-title {
    width: 33%;
    padding-right: 100px;
}

.coming-img {
    width: 33%;
    text-align: center;
}

.coming-end {
    width: 33%;
    padding-left: 100px;
}

.best {
    color: #FF0000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.title {
    font-size: 48px;
    color: #070211;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 15px;
    color: #89888a;
    margin-top: 0;
}

.letest-year {
    font-size: 48px;
    color: #FF0000;
    font-weight: bold;
    margin-bottom: 0px;

}